* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style: none;
  list-style-position: inside;
}
a {
  text-decoration: none;
  color: inherit;
}
