* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* PALETTE */
/* BLU #0184fd
CYAN #b5ddff
VIOLET #9792e4
YELLOW #fdc15f
BLACK #333333 */
/* COMMON */
html {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
}
ul {
  list-style: none;
  list-style-position: inside;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}
button {
  border: none;
}
.section {
  margin-bottom: 1em;
}

/* HEADER */
header {
  width: 100%;
  background-color: #0184fd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1em 0;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars {
  color: white;
  font-size: 1.5rem;
}

.menu-desk {
  display: none;
  color: white;
}

/* SECTION 1 FEATURES */
#features {
  margin-top: 5em;
  padding: 2em 0;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  /* margin-bottom: 1em; */
  background-color: #b5ddff;
}

.card-txt {
  background-color: red;
}
.card-img {
  background-color: blue;
}
.card-symbol {
  background-color: green;
}

/* SECTION 2 PLANNING */
#planning {
  background-color: #9792e4;
  padding: 2em 0;
}

.strategic {
  margin-bottom: 2em;
  padding: 1em 0;
  color: white;
}
.app-dev {
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

/* SECTION 3 TESTIMONIALS */
.expert-partners {
  text-align: center;
}
.partner {
  background-color: #9792e4;
  padding: 2em;
  color: white;
  border-radius: 40px;
  margin-bottom: 2em;
}
.partner-img {
  margin: 0 auto;
  width: 50%;
}
.partner img {
  border-radius: 50%;

  height: 30vw;
}
.partner-name {
  text-align: center;
}

/* SECTION 4 BENEFITS */
#benefits {
  background-color: #9792e4;
  padding: 2em 0;
}
#benefits .container h2 {
  color: white;
}

.benefit-card {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 2em;
}

/* SECTION 5 ABOUT */
#about {
  padding: 2em 0;
}
#about h2 {
  color: #9792e4;
  font-size: 3rem;
}
.about-left {
  line-height: 3rem;
  font-size: 1.5rem;
}
.about-img {
  width: 50%;
}
.about-img img {
  border-radius: 50%;
}
.about-right h3 {
  font-size: 2rem;
  color: #9792e4;
  margin-bottom: 2em;
}
.about-right button {
  background-color: #9792e4;
  padding: 0.5em 1em;
  border-radius: 20px;
  color: white;
}

/* SECTION 6 GET STARTED */
#get-started {
  background-color: #9792e4;
  padding: 2em 0;
}
.started-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.started-container h3 {
  font-weight: 100;
  color: #d1d0f3;
}
.started-container h2 {
  font-size: 2.5rem;
}
.started-container h4 {
  color: #fdc15f;
  font-size: 3.5rem;
}
.started-container button {
  background-color: white;
  padding: 0.8em 3em;
  border-radius: 30px;
  color: #9792e4;
  font-size: 1.5rem;
  margin: 1em 0;
}
#privacy {
  text-decoration: underline;
}

/* FOOTER */
footer {
  background-color: #333333;
  color: white;
}
.footer-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}
.footer-container p {
  padding: 2em 0;
}

.footer-container p a {
  color: #9792e4;
  text-decoration: underline;
}

/* TABLET */
@media screen and (min-width: 768px) {
  /* COMMON */

  /* SECTION 1 FEATURES */
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .card-wrapper .card {
    width: calc(100% / 3 - (1.5rem * 2 / 3));
  }
  .card-wrapper .card:first-child {
    width: calc(100% / 3 * 2 - 1.5rem / 3);
  }

  /* SECTION 3 TESTIMONIALS */
  .partner {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  /* SECTION 4 BENEFITS */
  .benefit-wrapper {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }
  .benefit-card {
    width: calc(100% / 2 - 0.5em);
    margin: 0;
  }

  /* SECTION 5 ABOUT */

  .about-wrapper {
    display: flex;
    gap: 1em;
  }
  .about-left {
    width: 60%;
    line-height: normal;
  }
  .about-right {
    width: 40%;
  }
  /* SECTION 6 GET STARTED */
  .started-container {
    width: 70%;
  }

  /* FOOTER */
  .footer-container {
    width: 70%;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* COMMON */
  .container {
    width: 70%;
  }

  /* HEADER */
  .ham-menu {
    display: none;
  }
  .menu-desk {
    display: block;
  }

  .menu-desk ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu-desk ul li {
    margin-left: 1.5em;
  }
  .menu-desk ul li:last-child {
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-radius: 20px;
  }

  /* SECTION 2 PLANNING */
  .wrapper {
    display: flex;
    align-items: flex-end;
  }
  .strategic {
    width: 48%;
  }
  .app-dev {
    width: 48%;
  }

  /* SECTION 4 BENEFITS */
  .benefit-card {
    width: calc(100% / 3 - (2em / 3));
  }

  /* SECTION 6 GET STARTED */
  .started-container {
    width: 40%;
  }
  /* FOOTER */
  .footer-container {
    width: 35%;
  }
}
