* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* PALETTE */
/* BLU #0184fd
CYAN #b5ddff
VIOLET #9792e4
YELLOW #fdc15f
BLACK #333333 */
/* COMMON */
html {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
}
ul {
  list-style: none;
  list-style-position: inside;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
button {
  border: none;
}
.section {
  margin-bottom: 1em;
}

/* HEADER */
header {
  width: 100%;
  background-color: #0184fd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1em 0;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars {
  color: white;
  font-size: 1.5rem;
}

.menu-desk {
  display: none;
  color: white;
}

/* SECTION 1 FEATURES */
#features {
  margin-top: 5em;
  padding: 2em 0;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  margin-bottom: 1em;
  background-color: #b5ddff;
  border-radius: 20px;
  padding: 2em 2em 0 2em;
}
.card:not(:first-child) {
  padding: 2em;
}
.card h3 {
  color: #0184fd;
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.card-symbol {
  text-align: center;
}
.card-symbol i {
  color: #0184fd;
  font-size: 5rem;
  margin-bottom: 0.3em;
}
.card-img img {
  display: block;
}
.card-txt:not(:first-child) {
  text-align: center;
}
.card-txt {
  font-weight: bold;
  color: #677d91;
}
.card-txt button {
  margin-top: 1em;
  background-color: #0184fd;
  color: white;
  font-size: 1rem;
  padding: 1em 3.5em;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 1em;
}
.card-txt button i {
  margin-right: 1em;
}

/* SECTION 2 PLANNING */
#planning {
  background-color: #9792e4;
  padding: 2em 0;
}

.strategic {
  margin-bottom: 2em;
  padding: 1em 0;
  color: white;
}
.strategic-txt h2 {
  font-size: 2rem;
  margin-bottom: 1.5em;
}
.app-dev {
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
.app-dev-txt {
  font-style: italic;
  padding: 1em;
}
.app-dev-txt h3 {
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.app-dev-txt i {
  font-size: 2rem;
  margin: 1em 0;
  background-color: #9792e4;
  padding: 0.5em 0.6em;
  border-radius: 50%;
}

/* SECTION 3 TESTIMONIALS */
.expert-partners {
  text-align: center;
  margin: 1em 0;
  padding: 1em;
}
.expert-partners h4 {
  font-weight: 100;
}
.expert-partners h2 {
  color: #9792e4;
  font-size: 2rem;
  margin-bottom: 1em;
}
.partner {
  background-color: #9792e4;
  padding: 2em;
  color: white;
  border-radius: 40px;
  margin-bottom: 2em;
}
.partner-img {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 1em;
}
.partner img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  height: 55vw;
}
.partner-txt {
  font-weight: 100;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}
.partner-txt i {
  font-size: 1.5rem;
}
.partner-name {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5rem;
}

/* SECTION 4 BENEFITS */
#benefits {
  background-color: #9792e4;
  padding: 2em 0;
}
#benefits .container > h2 {
  color: white;
  font-size: 2.5rem;
  padding: 0.8em 1.3em;
}

.benefit-card {
  background-color: white;
  border-radius: 20px;
  padding: 2.5em;
  margin: 0 auto;
  margin-bottom: 2em;
}
.benefit-card h2 {
  color: #9792e4;
  font-size: 3rem;
  margin-bottom: 0.5em;
}
.benefit-card h3 {
  color: #9792e4;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.benefit-card button {
  color: white;
  background-color: #9792e4;
  font-size: 1.5rem;
  padding: 0.5em 2em;
  border-radius: 30px;
  margin-top: 1em;
}
/* SECTION 5 ABOUT */
#about {
  padding: 2em 0;
}
.about-wrapper {
  padding: 1em;
}
#about h2 {
  color: #9792e4;
  font-size: 3rem;
  margin-bottom: 1em;
}
.about-left {
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 1em 0;
}
.about-left p {
  margin-bottom: 2em;
}
.about-right {
  padding: 1em;
}
.about-img {
  width: 50%;
  position: relative;
}
.about-img img {
  border-radius: 50%;
}
.about-img i {
  color: #9792e4;
  font-size: 5rem;
  position: absolute;
  right: -20px;
  top: 0%;
}
.about-right h3 {
  font-size: 2rem;
  color: #9792e4;
  margin-bottom: 1em;
}
.about-right button {
  background-color: #9792e4;
  padding: 0.5em 1em;
  border-radius: 20px;
  color: white;
  word-spacing: 0.2em;
}

/* SECTION 6 GET STARTED */
#get-started {
  background-color: #9792e4;
  padding: 2em 0;
}
.started-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.started-container h3 {
  font-weight: 100;
  color: #d1d0f3;
  margin-bottom: 0.5rem;
}
.started-container h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.started-container h4 {
  color: #fdc15f;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}
.started-container p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
.started-container button {
  background-color: white;
  padding: 0.8em 3em;
  border-radius: 30px;
  color: #9792e4;
  font-size: 1.5rem;
  margin: 1em 0;
}
#privacy {
  text-decoration: underline;
}

/* FOOTER */
footer {
  background-color: #333333;
  color: white;
}
.footer-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}
.footer-container p {
  padding: 2em 0;
}

.footer-container p a {
  color: #9792e4;
  text-decoration: underline;
}

/* TABLET */
@media screen and (min-width: 768px) {
  /* COMMON */

  /* SECTION 1 FEATURES */
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .card-wrapper .card {
    width: calc(100% / 3 - (1.5rem * 2 / 3));
  }
  .card-wrapper .card:first-child {
    width: calc(100% / 3 * 2 - 1.5rem / 3);
  }
  .card-img {
    width: 45%;
    margin-bottom: 0%;
    display: block;
  }
  /* SECTION 2 PLANNING */
  .strategic-txt h2 {
    font-size: 2.3rem;
  }

  /* SECTION 3 TESTIMONIALS */
  .partner {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .partner-txt {
    text-align: left;
    padding: 1em;
  }
  .partner-img img {
    width: 100%;
    height: 20vw;
  }
  .partner-name {
    text-align: left;
  }

  /* SECTION 4 BENEFITS */
  .benefit-wrapper {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }

  .benefit-card {
    width: calc(100% / 2 - 0.5em);
    margin: 0;
  }

  /* SECTION 5 ABOUT */
  #about h2 {
    font-size: 4rem;
    margin-bottom: 0.5em;
  }

  .about-wrapper {
    display: flex;
    gap: 1em;
  }
  .about-left {
    width: 60%;
    line-height: normal;
  }
  .about-right {
    width: 40%;
  }
  /* SECTION 6 GET STARTED */
  .started-container {
    width: 70%;
  }

  /* FOOTER */
  .footer-container {
    width: 70%;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* COMMON */
  .container {
    width: 70%;
  }

  /* HEADER */
  .ham-menu {
    display: none;
  }
  .menu-desk {
    display: block;
  }

  .menu-desk ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu-desk ul li {
    margin-left: 1.5em;
  }
  .menu-desk ul li:last-child {
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-radius: 20px;
  }

  header button {
    background-color: white;
  }

  /* SECTION 1 FEATURES */
  .card:first-child {
    display: flex;
    align-items: flex-end;
    padding-top: 0%;
  }
  .card-txt:first-child {
    width: 50%;
  }
  .card-img {
    width: 50%;
  }
  .card-txt button {
    padding: 0.5em 3em;
  }

  /* SECTION 2 PLANNING */
  .wrapper {
    display: flex;
    align-items: flex-end;
  }
  .strategic {
    width: 48%;
  }
  .app-dev {
    width: 48%;
  }
  /* SECTIO 3 TESTIMONIALS  */
  .partner-img {
    width: 80%;
    margin-right: 1.5em;
  }
  .partner-img img {
    height: 15vw;
  }

  /* SECTION 4 BENEFITS */
  .benefit-card {
    width: calc(100% / 3 - (2em / 3));
  }
  .benefit-card h3 {
    font-size: 1.3rem;
  }

  /* SECTION 5 ABOUT */
  .about-wrapper {
    gap: 2em;
  }
  .about-left {
    width: 100%;
    line-height: 3rem;
    font-size: 1.2rem;
  }
  .about-left p {
    font-size: 1.1rem;
  }
  .about-right h3 {
    font-size: 1.6rem;
  }
  .about-img {
    width: 100%;
  }
  /* SECTION 6 GET STARTED */
  .started-container {
    width: 40%;
  }
  /* FOOTER */
  .footer-container {
    width: 35%;
  }
}
